<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
         // Créer le marqueur sur la carte
  new mapboxgl.Marker(el)
    .setLngLat([longitude, latitude])
    .addTo(map);
}

// Ajouter un nouveau terrain sur la carte
function addTerrain(longitude, latitude) {
  // Ajouter le marqueur sur la carte
  addMarker(longitude, latitude);
}

// Utiliser la fonction addTerrain() pour ajouter un nouveau terrain à la carte
//addTerrain(longitude, latitude);

    </body>
</html>
